*.secret
server/*/usercache.json 
server/*/usernamecache.json 
server/*/whitelist.json
server/*/banned-ips.json
server/*/banned-players.json
server/*/versions/
server/*/patchouli_books
server/*/mods/luckperms
server/*/logs
server/*/libraries
server/*/journeymap
server/*/immersive_paintings*
server/*/crash-reports
server/*/.mixin.out
server/*/.fabric
server/*/*/advancements
server/survival/survival/betterdeserttemples
server/dungeon/dungeon/betterdeserttemples
server/*/*/data
server/*/*/DIM*
server/*/*/dimensions
server/*/*/ec_player_profiles
server/*/*/entities
server/survival/survival/essentialcommands
server/dungeon/dungeon/essentialcommands
server/*/*/modplayerdata
server/*/*/player-mod-data
server/*/*/playerdata
server/*/*/poi
server/*/*/region
server/*/*/stats
server/*/*/level*
server/*/*/session.lock
server/*/*/textile_status.data
server/*/audioplayer_uploads
server/*/*/luckperms/translations
server/*/*/plan/libraries
server/*/*/plan/logs
server/*/config/spark/tmp
server/*/config/TabTPS/userdata